.header {
 text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.header a img {
  width: 60%;
  height: 60%;
}
.login-register {
  padding: 1rem 1.9rem;
  display: flex;
  gap: 30px;
  color: black;
}
.login-register * a{
  border: 1px solid darkblue;
}